body{
    background-color: rgb(179, 148, 113);
}

#refresh{
    position: fixed;
    display: block;
    height: 50px;
    width: 100px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 0vw;
    margin-top: 50vh;
    size: 1em;
    text-align: center;
}


#boite_haut{
    margin-top: 2.5vh;
    margin-left: 17.5vw;
    background-color: black;
    height: 5vh;
    width: 65vw;
    border-radius: 10px;
}

.text_menu{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-size: 2vmin;
    margin-top: 0.75vh;
    margin-left: 3vw;
}

#Feuille{
    padding: 20px;
    display: inline-block;
    height: 150vh;
    width: 75vw;
    background-color: beige;
    margin-left: 12.5%;
    margin-top: 2vh;
}

#boite_pv_ac_vitesse{
    position: absolute;
    top: 11.5vh;
    right: 45vw;
    height: 10vh;
    width: 15vw;
}

#input_pv{
    width: 5vw;
}

#boite_portrait{
    position: absolute;
    top: 11.5vh;
    right: 15vw;
    height: 40vh;
    width: 30vw;
    background-color: beige;
    border: solid black;
    border-width: 2px;
    
}



.texte_normale{
    font-size: 1.5vmin;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}



.infos_generale{
    display: inline-block;
}

.input_infos_generale{

}


.text_remplissable{
    font-size: 2.5vmin;
}

.grid_container{
    display: grid;
    height: 22vh;
    width: 38vw;
    border: 1px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2.5vh;
}

.boite_grille_caracteristiques{
    height: 11vh;
    display: grid;
    border: 1px solid black;
    
}

.mini_case{
    grid-column: 1/2;
    text-align: center;
}
.mini_case_haut{
    background-color: rgba(61, 61, 61, 0.329);
}



#boite_mod_competences{
    position: absolute;
    top: 10vh;
    left: 17.5vw;
    height: 20vh;
    border-radius: 10px;
    padding: 1vw;
}

#list_mod_competences_span{
}

#contenaire_boite_capacites{
    float: left;
    padding: 15px;
    height: 65vh;
    width: 38vw;
    border: 1px solid black;
    margin-top: 5vh;
}

#contenaire_equipement{
    float: right;
    height: 65vh;
    width: 30vw;
    margin-top: 5vh;
    margin-right: 2vh;
}

#boite_armure{
    padding: 5px;
    float: right;
    height: 8vh;
    width: 30vw;
    border: 1px solid black;
}

#boite_armes{
    padding: 5px;
    float: right;
    height: 15vh;
    width: 30vw;
    border: 1px solid black;
    margin-top: 1vh;
}

#boite_inventaire{
    padding: 5px;
    float: right;
    height: 40vh;
    width: 30vw;
    border: 1px solid black;
    margin-top: 1vh;
}

/*version mobile*/

@media screen and (max-width: 1024px) {
    #boite_portrait {
        display: none !important;
    }

    #refresh {
        position: fixed;
        display: block;
        height: 40px;
        width: 95px;
        background-color: aliceblue;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 80vh;
        size: 1em;
        text-align: center;
    }

    #Nom{
        margin-top: 10vh;
    }

    .grid_container{
        display: grid;
        height: 22vh;
        width: 65vw;
        border: 1px solid black;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 2.5vh;
    }
    
    .boite_grille_caracteristiques{
        height: 11vh;
        display: grid;
        border: 1px solid black;
        
    }




    #contenaire_boite_capacites{
        float: left;
        padding: 15px;
        height: 75vh;
        width: 35vw;
        border: 1px solid black;
        margin-top: 5vh;
    }

    #contenaire_equipement{
        float: right;
        height: 70vh;
        width: 30vw;
        margin-top: 5vh;
        margin-right: 2vh;
    }
    
    #boite_armure{
        float: right;
        height: 10vh;
        width: 30vw;
        border: 1px solid black;
    }
    
    #boite_armes{
        padding: 5px;
        float: right;
        height: 15vh;
        width: 30vw;
        border: 1px solid black;
        margin-top: 1vh;
    }
    
    #boite_inventaire{
        padding: 5px;
        float: right;
        height: 48vh;
        width: 30vw;
        border: 1px solid black;
        margin-top: 1vh;
    }
}