body {
    background-color: white;
    /*background-image: url(https://static4.depositphotos.com/1000454/285/i/600/depositphotos_2855496-stock-photo-beagle-dog-on-the-scent.jpg);*/
}
h3{
    color: yellow;
}

/*change style for a list */
ol {
    list-style: upper-alpha
}

li {
    color: orange;
}

/* parent > child */
ul > li {
    color:blue
}

/* target a sopecific class, can add more specificity
by adding type in front of class*/
li.color_1{
    color: purple;
}
i.color_1{
    color: chartreuse;
}

/*select by using ID: name-ID*/
#li-A{
    color: deeppink;
}

.p-class{
    /*
    hexadecimal: #RRGGBB
    RGB: rgb(R,G,B)
    RGBA: rgba(R,G,B,A) */
    color: #FFa0b2;

    /*
    pixel: XXXpx
    rem: Xrem     1rem = 16 pixels
    percentage: X%  15% is mostly normal
    hauteur de la vue : 15vh
    largeur de vue : 20vh*/
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
    font-family: initial;
    text-align: start;
}

#boite-rouge-A{
    margin: 50px 20px;
    padding: 20px 0 0 5px;
    border: 15px solid black;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: red;
}
.text-white {
    color: yellow;
}

textarea{
    resize: none;
}

.boite-a{
    position: relative;
    top: 200px;
    z-index: -1;
    height: 500px;
    width: 500px;
    background-color: red;
}

.boire-b{
    position: absolute;
    top: 10px;
    left: 200px;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.boite-c{
    position: sticky;
    top: 0;

    height:  50px;
    background-color: orange;
}

.flex-container{
    height: 500px;
    width: 80%px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

    /* flex-wrap: wrap; */

    justify-content: space-evenly;

    align-items: center;
}

.flexbox{
    flex-basis:15px;
}

.flexbox:nth-child(3n+1){
    order: 4;
    background-color: red;
}

.flexbox:nth-child(3n+2){
    flex-grow: 3;
    flex-shrink: 5;
    background-color: green;
}

.flexbox:nth-child(3n){
    order: -1;
    flex-grow: 1;
    flex-shrink: 10;
    background-color: blue; 
}

.grid-container{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: grid;

    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.gridbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-box2{
    grid-row: 3;
    grid-column: 3;
    
}

#grid-box4{
    background-color: red;
    grid-row: 2;
    grid-column: 1 / 4;
    /*grid-column: 1/ span3;*/
    
}

#grid-box1,#grid-box3{
    grid-column: 1/ span 2;
}

#grid-box3{
    grid-row: 3 /span2;
    background-color: blue;
}